<mat-card style="overflow: scroll;">
    <mat-card-title class="p-3 d-flex justify-content-between align-item-center">
        <strong>Comments </strong>
        <button mat-mini-fab color="primary" (click)="navigateTo('insert', null)"> <mat-icon>add</mat-icon></button>
    </mat-card-title>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" [trackBy]="trackPost" style="overflow: scroll;">

            <!-- Position Column -->
            <ng-container matColumnDef="position" class="text-center">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element ; index as i"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name|titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="body">
                <th mat-header-cell *matHeaderCellDef> Body </th>
                <td mat-cell *matCellDef="let element"> {{element.body}} </td>
            </ng-container>

            <ng-container matColumnDef="operations" class="text-center">
                <th mat-header-cell *matHeaderCellDef> Operations </th>
                <td mat-cell *matCellDef="let element" class="text-center ">
                    <div class="text-center d-flex align-item-center justify-content-between">
                        <mat-icon (click)="delete(element)">delete</mat-icon>
                        <mat-icon (click)="navigateTo('update' , element)" [style.color]="'green'">edit</mat-icon>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</mat-card>