table {
    width: 100%;
}

.mat-column-position {
    flex: 0 0 5% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 5% !important;
}

.mat-column-body {
    flex: 0 0 60% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 60% !important;
    padding: 1rem;
}

.mat-column-operations mat-icon {
    color: red;
    cursor: pointer;
}